.mobileV div[data-id='B0D6F657-B4C9-4CDF-849A-271FC5CFA577'] > div:first-child {border-top-left-radius: 20px !important;
border-top-right-radius: 20px !important;
border-bottom-right-radius: 20px !important;
border-bottom-left-radius: 20px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='1573E214-827C-4D48-8CA2-7C001F80BA0C'] > div:first-child {border-top-width: 1px !important;
}

            .mobileV div[data-id='842FDCDE-AE32-4CD9-A8A0-A484504A5093'] {
                display: block !important;
            }

            .mobileV div[data-id='B5000723-2C51-448D-8A07-00796096FEB9'] {
                display: block !important;
            }
.mobileV div[data-id='E4108892-B5AB-4B45-BBAF-5697EEAFDC58'] > div:first-child {border-top-left-radius: 20px !important;
border-top-right-radius: 20px !important;
border-bottom-right-radius: 20px !important;
border-bottom-left-radius: 20px !important;
}
        @media (max-width: 650px) { body { min-width: 'initial' } body.desktopV { min-width: 1000px } }
        @media (min-width: 651px) { body { min-width: 1000px } body.mobileV { min-width: initial } }
                        .bodyBackground {
                            
background-image:url('/webmedia/4b6c2b4d93af1f062cf9f17288e614be.gif%3Fetag=W%252F"69b53-5b11e10a"&sourceContentType=image%252Fgif');
background-color:rgba(0,0,0,1);
background-repeat:repeat;
background-position:0% 0%;
background-size:auto;
background-attachment:scroll;
                        }
